<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D Wiki - Log In</title>
</head>

<body>
    <form method="POST">

        <!-- Grab flashes from flask-->
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    {% if (category == "error") %}
                        <li class="{{ category }}"><strong>Error:</strong> {{ message }}</li>
                    {% else %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        <!-- This injects the hidden CSRF token -->
        {{ form.hidden_tag() }}
        
        <label for="username">Username:</label>
        {{ form.username(id="username") }}
        {% for error in form.username.errors %}
            <span class="error">{{ error }}</span><br>
        {% endfor %}
        <br>
        
        <label for="password">Password:</label>
        {{ form.password(id="password") }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span><br>
        {% endfor %}
        <br>

        {{ form.submit() }}
    </form>
</body>
</html>