{% extends "base.html" %}

{% block title %}D&amp;D Wiki - Log In{% endblock %}
{% block header %}Log In{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
                <br><span class="error">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <br><span class="error">{{ error }}</span>
            {% endfor %}
        </p>

        {{ form.submit() }}
    </form>
{% endblock %}
